/cache/*
/log/*

/web/*Plugin
/web/uploads/documents/*
/web/uploads/images/*
/web/uploads/thumbnail/*

/lib/vendor/*


/config/databases.yml
/data/sql/*
/lib/*/doctrine/base/*
/.project
/plugins/.*
/lib/*/doctrine/*Plugin/base/*
/.cache
/.settings
/nbproject/*
/.externalToolBuilders
/build
.buildpath
.pydevproject

.DS_Store
*.swp
*.pyc
*~
